.todo-checkbox {
    background-color:#ded9cd;
    border: black;
    grid-column: 1/ span 1;
    width: 100px;
    height: 100px;
    margin-right: 30px;
    margin-left: 55px;
}

/* @media only screen and (min-width: 600px) {
    .todo-checkbox {
        height: 50px;
        width: 50px;
    }
} */

.completed {
    width: 10px;
    height: 10px;
    margin-bottom: 100px;
}

.uncompleted {
    visibility: hidden;
}

#button {
    outline: none;
    
}