#dropdown-bar {
    font-size: 25px;
    width:200px;
    height:150px;
    margin-top:-22px;
    margin-left: 500px;
    background-color: #c9c5b8;
}

#demo-customized-button {
    bottom: 90px;
    left: 600px;
    transform: scale(1.5);
    background: none;
    color: black;
}

@media only screen and (max-width: 870px) {
    #demo-customized-button {
        left: 45vw;
        bottom: 45px
    }
} 

@media only screen and (max-width: 900px) {
    .dropdown {
        transform: scale(1) !important;
    }
} 