.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #AF92C8;
    grid-column: 1 / 6;
}

#title {
    font-size: 10em;
    padding-left: 48px;
    margin-top: 72px;
}

.view {
    position: relative;
    padding-left: 55px;
    bottom: 55px
}

.sort {
    position: relative;
    padding-left: 100px;
    bottom: 55px
}

.MuiBox-root css-ece9u5 {
    background-color: orange !important;
}
