.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #AF92C8;
    grid-column: 1 / 6;
    max-width: 100%;
}


#title {
    font-size: 10em;
    padding-left: 48px;
    margin-top: 72px;
}

.view {
    position: relative;
    padding-left: 55px;
    bottom: 55px
}

.sort {
    position: relative;
    padding-left: 100px;
    bottom: 55px
}

.MuiBox-root css-ece9u5 {
    background-color: orange !important;
}



.dropdown {
    /* background-color: rgb(161, 115, 29); */
    transform: scale(1.5);
}
@media only screen and (max-width: 1000px) {
    #title {
        font-size: 3em;
    }
    .dropdown {
        padding-top: 100px !important
    }
}

@media only screen and (min-width: 1000px) and (orientation:landscape) {
    #title {
        font-size: 5em;
    }
    .dropdown {
        transform: scale(1.5) !important;
        /* padding-left: 0px !important; */
        padding-top: 126px !important
    }
}

@media only screen and (max-width: 686px) {
    .sort {
        margin-top: 76px;
        height: 36px;
        margin-left: -230px;    }
}

/* 
@media only screen and (min-width: 940px) {
    #title {
        font-size: 10em;
        padding-left: 48px;
        margin-top: 72px;

        
    }
    
} */
/* @media only screen and (min-width: 600px) {
    .header {
        height: 30%
    }
} */
