.todo-body {
    display: grid;
    grid-column: 1 / 6;
    background-color: #FBF8EF;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
}

#inputText, #submitButton {
    font-size: 25px;
}
.AddCircle {
    font-size:150px;
    grid-column: 1/ span 1;
    grid-row: 9/ span 1;
    margin-left: 830px ;
}

.AddCircle:focus {
    /* background-color: orange; */
    background-color: transparent;

}

.css-mf1cb5-MuiButtonBase-root-MuiIconButton-root:hover {

    background-color: transparent !important;
}

.aria-button:focus {
    background-color: transparent;
    /* background-color: orange; */
}
.aria-button {
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
    margin-left: 1250px;
    margin-top: -27px;
}
/* @media only screen and (max-width: 640px) {
    #addCircle {
        font-size: 150px;
        grid-column: 1/ span 1;
        grid-row: 9/ span 1;
        margin-left: 750px;
    
        }
    } */
/* @media only screen and (min-width: 641px) {
#addCircle {
    background-color: orange;
    margin-left: 1200px !important;
    grid-column: 1/ span 0.5 !important;
    grid-row: 1/ span 1;
    }
} */


