
body {
    display: grid;
    grid-template-rows: 1fr 4fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #AF92C8;
    grid-column: 1 / 6;
}
