.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #AF92C8 !important;
    color: black !important;
}

.tab-button{
    background: transparent;
    border: none;
}

.MuiTab-iconWrapper {
    background: transparent !important;
    border: none !important; 
}

.MuiTab-iconWrapper > .MuiSvgIcon-root {
    font-size: 1em;
}